body {
    font-size: 30px;
    min-width: 1600px;
    background-color: #646464;
}

#header {
    height: 50px;
    min-height: 50px;
    background-color: #646464;
    background-image: none
}

div#main-content {
    background-color: #646464;
    padding: 0 10%;
    top: 0;
    margin-top: 0;
    bottom: 0;
    margin-bottom: 0;
}

#input-area {
    background-color: whitesmoke;
    padding: 30px 50px;
    position: relative;
    height: 240px;
    margin: 0 50px;
    border: 2px #ee9896 solid;
    box-shadow: inset 0px 5px 15px 1px #ec434a;
    width: 1422px;
}

.input-checkbox {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
    right: 0;
    top: 10px;
}

#account-details {
    margin: 0 50px;
    width: 1422px;

}

#account-details {
    background-color: #ee9896;
}

.td-value textarea {
    height: 80px;
    width: 1216px;
}

.item-header {
    background-color: #d68886;
}

#account-save {
    margin-right: 50px;
}
