@charset "utf-8";
/* CSS Document */
body {
    background-color: #4c4a4d;
}

#main-content {
    position: relative;
    margin: 10px auto;
    font-size: 18px;
    padding: 0 10%;
}

/*自定义样式按钮*/
.btn-default-dark {
    background-color: #461846;
    padding: 4px 8px;
    color: whitesmoke;
    border: none;
    border-radius: 6px;
    width: auto;
    height: auto;
    font-size: 18px;
    font-style: normal;
}

.right {
    float: right;
    right: 0;
    margin-right: 0;
}

/*table*/
/*key-value-table*/
.key-value-table {
    border-collapse: collapse;
    border-spacing: 2px 5px;
}
.key-value-table tr td {
    font-size: 18px;
    height: 30px;
    border: 0.1px solid navajowhite;
}

.key-value-table select, input, textarea {
    width: inherit;
    height: inherit;
    /*border: 0.1px solid #cec1ce;*/
    border: none;
    border-radius: 0;
}

.td-field {
    background-color: #fdfffd;
    text-align: right;
    width: 100px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding-right: 8px;

}

.td-value {
    text-align: left;
    background-color: whitesmoke;
    width: 200px;
}

textarea {
    height: 50px;
}

.half-width {
    width: 50% !important;
    float: left;

}

.item-header {
    height: 50px;
    width: 100%;
    background-color: #d8eee8;
    font-size: 24px;
    font-style: italic;
    padding-top: 6px;
}

th {
    text-align: center;
}

.list-table {
    border-collapse: separate;
    border-spacing: 2px 5px;
    background-color: #ecd2d7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 30px;
    width: 95% !important;
}

.list-table input, select {
    height: 30px;
    width: 100%;
    padding: 2px 5px;
    border-radius: inherit;
}

.list-item {
    border-radius: 2px;
}

.list-item td {
    border-radius: inherit;
}

.bg-white {
    background-color: whitesmoke;
}



