@charset "utf-8";
/* CSS Document */
body {
    background-color: #4c4a4d;
}

#main-content {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    padding: 0 10%;
}

/*自定义样式按钮*/
.btn-default {
    margin-right: 2px;
    padding: 4px 8px;
    width: auto;
    height: auto;
    border-radius: 1px;
    font-size: 14px;
    font-style: normal;
    border: none;
    text-align: center;
}

.btn-default-dark {
    background-color: #461846;
    color: whitesmoke;
}

.btn-default-light {
    background-color: #e2dfdf;
    color: black;
}

.btn-default-delete {
    background-color: #d17f79;
    color: whitesmoke;
}

.btn-save {
    background-color: #a3e2df;
}
.right {
    float: right;
    right: 0;
    margin-right: 20px;
}

/*table*/
/*key-value-table*/
.key-value-table {
    border-collapse: collapse;
    border-spacing: 2px 5px;
}
.key-value-table tr td {
    font-size: 18px;
    height: 40px;
    border: 2px solid #ee9896;
}

.key-value-table select, input, textarea {
    width: 100%;
    height: 100%;
    /*border: 0.1px solid #cec1ce;*/
    border: none;
    border-radius: 0;
    padding: 5px 8px;
}

.td-field {
    background-color: #eef0f2;
    text-align: right;
    width: 100px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding-right: 8px;

}

.td-value {
    text-align: left;
    background-color: whitesmoke;
    width: 160px;
}

textarea {
    height: 50px;
}

.half-width {
    width: 50% !important;
    float: left;

}

.item-header {
    height: 50px;
    width: 100%;
    background-color: #d68886;
    font-size: 24px;
    font-style: italic;
    padding-top: 6px;
}

th {
    text-align: center;
}

.list-table {
    border-collapse: separate;
    border-spacing: 2px 5px;
    background-color: #ee9896;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 30px;
    width: 95% !important;
}

.list-table input, select {
    height: 30px;
    width: 100%;
    padding: 2px 5px;
    border-radius: inherit;
    opacity: 0.9;
}

.list-item {
    border-radius: 2px;
}

.list-item td {
    border-radius: inherit;
}

.bg-white {
    background-color: whitesmoke;
}

.dropdown-ul {
    background-color: #b6b6bb;
    color: #eeeef4;
    border-left: 1px solid #d8d5dd;
    border-right: 1px solid #d8d5dd;
    border-radius: 5px;
}

.dropdown-ul > li {
    border-bottom: 1px solid #d8d5dd;
    cursor: hand;
    line-height: 25px;
    border-radius: 5px;
    padding-left: 5px;
}

.query-input {
    width: 400px;
    height: 30px;
    font-size: 16px;
    float: left;
    border-radius: 2px;
    margin: 0 10px;
    background-color: whitesmoke;
}

/*layui样式修改*/
.layui-table-view {
    margin: 0;
    height: auto;
}

.layui-table-body .layui-table-main {
    height: auto;
    max-height: 800px;
}





