/* CSS Document */
@charset "utf-8";
body{
	background-image: url("../img/content-bg.png");
}
#header{
	background-image: url("../img/header-bg.png");
	background-repeat: round;
	width:100%;
	height :230px;
	position:relative;
	padding-top:10px;
}
#banner{
	position: absolute;
	width: 100%;
	height: 192px;
	padding-left:10%;
}

a:hover, a:visited, a:link, a:active {
	text-decoration:none;
	out-line: none;
	color: black;
}

.showtime{
	bottom:35px;
	position:absolute;
	color: rgb(230, 230, 230);
	left:10px;
}
a.dropdown-toggle{
	font-size:24px;
	color:gainsboro;
 }
div.main-menu{
	display: inline-block;
	float:left;
	margin-right:20px;
	font-size:18px;
}
ul.dropdown-menu{
	background: rgb(100,100,100);
	font-size:18px;
	color:rgb(180,180,180);
}
li.sec-menu{
	line-height: 35px;
	margin-left:12px;
	cursor:pointer;
}
