@charset "utf-8";
/* CSS Document */
body {
    /*min-width:1280px;
    max-width:1920px;
    min-height:1190px;*/
    background-image: url("../img/content-bg.png");

}

.btn-default-dark {
    background-color: #461846;
    padding: 4px 8px;
    color: whitesmoke;
    border: none;
    border-radius: 6px;
}


