/* CSS Document */
@charset "utf-8";
body {
    padding-top: 16%;
    background-image: url("/koala-platform/static/img/login-bg.jpg");
}

.out-box {
    position: relative;
    font-size: 20px;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    /*border:1px solid darkgray;*/
    box-shadow: -6px -6px 16px 6px #761c19;
    padding-top: 40px;
}

a {
    font-size: 16px;
}

.form-group {
    margin-top: 20px;
    float: left;
    margin-left: 40px;
}

input.form-control {
    width: 100% !important;
    height: 40px;
    font-size: 20px;
    margin-left: 15px;
}

.form-group label {
    color: #3c3c3c;
}

.btn-group {
    margin-top: 20px;
}