/* CSS Document */
@charset "utf-8";
body{
    padding-top: 10%;
}
.out-box{
    font-size: 15px;
    background-color: rgb(200, 220, 240);
    width: 500px;
    height:330px;
    margin:0 auto;
    position:relative;
    padding-top: 16px;
}

.form-group {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.btn-group {
    margin-top: 20px;
}

.form-group .form-control {
    width: 50%;
}
