/* CSS Document */
@charset "utf-8";
body{
    padding-top: 12%;
    background-image: url("/koala-platform/static/img/login-bg.jpg");
}
.out-box{
    font-size: 15px;
    width: 380px;
    height:330px;
    margin:0 auto;
    position:relative;
    padding-top: 16px;
    box-shadow: -6px -6px 16px 6px #761c19;
}

.form-group {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.btn-group {
    margin-top: 20px;
}

.form-group .form-control {
    width: 60%;
    font-size: 18px;
}

