#select-area {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ui-jqgrid-labels {
    height: 50px;
}

.ui-jqgrid {
    width: 1200px;
    margin: 0 auto;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height: 22px;
}

table {
    text-align: center;
}

.ui-widget-content a {
    text-decoration: underline;
    color: #e7586a;
}
