<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <!--使用不同前端框架的返回值数据组织 -->
    <!--数据管理-->
    <bean id="dataManagerService" class="cn.koala.platform.service.common.impl.DataManagerServiceImpl"/>

    <!-- layui -->
    <bean id="layuiDataServiceImpl" class="cn.koala.platform.service.common.impl.LayuiDataServiceImpl"/>


</beans>
